<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PIU</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/fontawesome.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PIU.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" href="https://www.uvm.cl/favicon.ico">
</head>
@{
    var IdUsuario = Context.Session.GetString("IdUsuario");
    var NombreUsuario = Context.Session.GetString("NombreUsuario");
    var NombrePersona = Context.Session.GetString("NombrePersona");
    var ApellidoPaternoPersona = Context.Session.GetString("ApellidoPaternoPersona");
    var ApellidoMaternoPersona = Context.Session.GetString("ApellidoMaternoPersona");
    var RolUsuario = Context.Session.GetString("RolUsuario");
}
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PIU</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">CRUD</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Campus" asp-action="Index">Campus</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Jornadums" asp-action="Index">Jornadas</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Carreras" asp-action="Index">Carreras</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Escuelas" asp-action="Index">Escuelas</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Usuarios" asp-action="Index">Cuentas</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Rols" asp-action="Index">Rols</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Gestión</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Estudiantes</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Docentes" asp-action="Index">Docentes</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Reportes</a>
                            </div>
                        </li>
                    </ul>
                </div>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            @if (NombreUsuario != null)
                            {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Bienvenido, @NombrePersona @ApellidoPaternoPersona @ApellidoMaternoPersona (@RolUsuario)
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <!--
                                    <a class="dropdown-item" asp-area="" asp-controller="Perfil" asp-action="Index">
                                        <i class="fa fa-user"></i>
                                        Perfil
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    -->
                                    <a class="dropdown-item" asp-area="" asp-controller="Sesion" asp-action="CerrarSesion">
                                        <span style="color: red;">
                                            <i class="fa fa-sign-out"></i>
                                            Cerrar sesión
                                        </span>
                                    </a>
                                </div>
                            </li>
                            }
                            else
                            {
                            <a class="nav-link text-dark" asp-area="" asp-controller="Sesion" asp-action="Ingresar">Ingresar</a>
                            }
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @if (TempData.ContainsKey("SuccessMessage"))
            {
                <div class="alert alert-success">
                    @TempData["SuccessMessage"]
                </div>
            }
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - PIU - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/fontawesome/js/all.js"></script>
    <script src="~/lib/fontawesome/js/fontawesome.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
