@model PIU.Models.Persona

@{
    ViewData["Title"] = "Crear cuenta";
}

<h1>Ingrese sus datos personales</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="UsuarioId" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="Rut" class="control-label"></label>
                <input asp-for="Rut" id="Rut" class="form-control" oninput="formatRut(this)" />
                <span asp-validation-for="Rut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApellidoPaterno" class="control-label">Apellido paterno</label>
                <input asp-for="ApellidoPaterno" class="form-control" />
                <span asp-validation-for="ApellidoPaterno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApellidoMaterno" class="control-label">Apellido materno</label>
                <input asp-for="ApellidoMaterno" class="form-control" />
                <span asp-validation-for="ApellidoMaterno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Celular" class="control-label"></label>
                <input asp-for="Celular" class="form-control" />
                <span asp-validation-for="Celular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    function formatRut(input) {
        // Obtener el valor actual del RUT sin puntos ni guión
        let rut = input.value.replace(/[.-]/g, '');

        // Verificar si el RUT tiene al menos un dígito
        if (rut.length > 0) {
            // Formatear el RUT con puntos y guión
            rut = rut.replace(/^(\d{1,2})(\d{3})(\d{3})(\w{1})$/, '$1.$2.$3-$4');
            input.value = rut;
        }
    }
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
