@model PIU.Models.Usuario

@{
    Layout = "~/Views/Shared/_LayoutWithoutNavbar.cshtml";
    ViewData["Title"] = "Login";
}
<div id="container" style="width:100%; height: 140px; background:#101820;">
    <header>
        <div class="container">
            <!-- Logo -->
            <div class="logo pull-left animated wow fadeInLeft">
                <a><img src="https://intranet.uvm.cl/INTRANET/Content/images/logo.jpg" width="120" height="120" alt="uvm"></a>
            </div>
            <!-- Título -->
            <div class="head">
                <br /><font color="#FFFFFF" style="padding-left:2%;font-size:24px">Universidad Viña del Mar </font>
                <br /><font color="#FFFFFF" style="padding-left:2%;font-size:24px">Sistema de Gestión de Estudiantes PIU</font>
            </div>
        </div>
    </header>
</div>
<body style="background:#5B6770; align-items: center; justify-content: center;">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header text-white">
                        <h1 class="text-center">Inicio de sesión</h1>
                    </div>
                    <div class="card-body">
                        <form asp-controller="Login" asp-action="Index" method="post">
                            @Html.AntiForgeryToken()

                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="form-group">
                                <label for="nombre_usuario">Nombre de usuario</label>
                                <input type="text" name="Nombre" class="form-control" required />
                                <input type="hidden" name="Correo" class="form-control" value="Nombre" />
                            </div>

                            <div class="form-group">
                                <label for="contrasena">Contraseña</label>
                                <input type="password" name="Contrasena" class="form-control" required />
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">Iniciar sesión</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyWyBqTk6JCDBoQqFO6xxN2W+exsV4R9Sd" crossorigin="anonymous"></script>
    <!-- Agrega otros scripts si es necesario -->
</body>