@model PIU.Models.Sesion

@{
    ViewData["Title"] = "Agendar sesión";
}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2 text-left">
                            <a asp-action="Details" asp-controller="Estudiantes" class="btn btn-secondary boton-lista">
                                <i class="fas fa-arrow-left" aria-hidden="true"></i>
                                Volver
                            </a>
                        </div>
                        <div class="col-md-8">
                            <h3 class="titulo-card">Ingrese los detalles de la sesión</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-3">
                            <p>
                                <strong>Fecha de la sesión</strong><br>
                                <input asp-for="FechaInicio" class="form-control" />
                                <span asp-validation-for="FechaInicio" class="text-danger"></span>
                            </p>
                        </div>
                        <div class="col-md-2">
                            <p>
                                <strong>Modalidad</strong><br>
                                <input asp-for="ViaContacto" class="form-control" />
                                <span asp-validation-for="ViaContacto" class="text-danger"></span>
                            </p>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <table>
                            <tr>
                                <th>OBJETIVOS DE LA SESIÓN</th>
                            </tr>
                            <tr>
                                <td>
                                    <label asp-for="Objetivo" class="control-label"></label>
                                    <input asp-for="Objetivo" class="form-control" />
                                    <span asp-validation-for="Objetivo" class="text-danger"></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
